@use '@/assets/style/constants';

.sidenav-main-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 2rem 0.5rem;
  height: 100vh;
  z-index: 10;
  justify-content: space-between;
  border: 0.5px solid constants.$gray-d2;
  background-color: constants.$gray-d1;
}

.sidenav-top-container,
.sidenav-bot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 1rem;

  a,
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    border-radius: 15%;
  }
}
